body {
    background-color: lightgray;
}
header {
    color: darkslategray;
    font-family: Arial;
    font-size: 300%;
    text-align: center;
    border: 2px solid brown;
}
text {
    color: black;
    font-family: Times;
    font-size: 100%;
}