body {
    background-color: lightgray;
}
h1 {
    color: black;
    font-family: Arial;
    font-size: 300%;
    text-align: center;
}
h2 {
    color: black;
    font-family: Times;
    font-size: 150%;
    text-align: center;   
}
p {
    color: black;
    font-family: Times;
    font-size: 100%;
}
header {
    background-color: rgb(46, 46, 46);
    font-size: 200%;
    text-align: center;
    color: white;
    padding: 30px;
}
footer {
    background-color: rgb(46, 46, 46);
    font-size: 200%;
    text-align: center;
    color: white;
    padding: 30px;
}
