body {
    background-color: lightgray;
}
h1 {
    color: black;
    font-family: Arial;
    font-size: 300%;
    text-align: center;
}
h2 {
    color: black;
    font-family: Times;
    font-size: 125%;
    text-align: center;   
}
p {
    color: black;
    font-family: Times;
    font-size: 100%;
}
canvas {
    width: "500";
    height: "500";
    text-align: center; 
    background-color: red;"   
}
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: rgb(46, 46, 46);
    font-family: Times;
    font-size: 200%;
    text-align: center;
    color: white;
    padding: 10px;
}
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgb(46, 46, 46);
    font-family: Times;
    font-size: 200%;
    text-align: center;
    color: white;
    padding: 10px;
}

